Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
      bugprone-*,
      clang-analyzer-*,
      cppcoreguidelines-*,
      misc-*,
      modernize-*,
      performance-*,
      portability-*,
      readability-*,
    ]
    Remove: [
      bugprone-easily-swappable-parameters,
      bugprone-integer-division,
      bugprone-switch-missing-default-case,
      bugprone-unchecked-optional-access,
      clang-analyzer-optin.osx.*,
      clang-analyzer-osx.*,
      cppcoreguidelines-avoid-c-arrays,
      cppcoreguidelines-avoid-const-or-ref-data-members,
      cppcoreguidelines-avoid-magic-numbers,
      cppcoreguidelines-avoid-non-const-global-variables,
      cppcoreguidelines-macro-usage,
      cppcoreguidelines-narrowing-conversions,
      cppcoreguidelines-no-malloc,
      cppcoreguidelines-non-private-member-variables-in-classes,
      cppcoreguidelines-pro-bounds-array-to-pointer-decay,
      cppcoreguidelines-pro-bounds-constant-array-index,
      cppcoreguidelines-pro-bounds-pointer-arithmetic,
      cppcoreguidelines-pro-type-vararg,
      cppcoreguidelines-special-member-functions,
      misc-no-recursion,
      misc-non-private-member-variables-in-classes,
      modernize-avoid-c-arrays,
      modernize-use-trailing-return-type,
      readability-function-cognitive-complexity,
      readability-function-size,
      readability-identifier-length,
      readability-implicit-bool-conversion,
      readability-magic-numbers,
      readability-named-parameter,
    ]
    CheckOptions:
      readability-identifier-naming.ClassCase: CamelCase
      readability-identifier-naming.FunctionCase: lower_case
      readability-identifier-naming.VariableCase: lower_case
      readability-identifier-naming.ParameterCase: lower_case
      readability-identifier-naming.MemberCase: lower_case
      readability-identifier-naming.PrivateMemberCase: lower_case
      readability-identifier-naming.ProtectedMemberPrefix: m_
      readability-identifier-naming.PrivateMemberPrefix: m_
